@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.overview h1 {
  font-size: 40px;
}

.overview h2 {
  font-size: 32px;
}

.overview h3 {
  font-size: 28px;
}

.overview a {
  color: rgb(65, 65, 197);
  text-decoration: underline;
}

.overview code {
  border-color: #343434;
  border-width: 1px;
  border-radius: 3px;
  background-color: #151515;
  padding: 0.1rem;
}

.overview hr {
  color: #343434;
}

.overview ul li {
  list-style-type: disc;
  margin-left: 1.5rem;
}

.overview ol li {
  list-style-type: decimal;
  margin-left: 1.5rem;
}
